<div class="header">
    <div class="navigation">
        <div class="logo-redalyc">
            <a href="https://www.redalyc.org/" target="_blank">
                <img class="to-home" id="to-home" src="assets/img/shared/logo-redalyc-fondo-oscuro.png">
            </a>
        </div>

        <div class="languages-social-netwoks">
            <!-- <span>ESP</span>
            <span>ENG</span> -->
            <a href="https://www.instagram.com/redalyc_oficial" target="_blank"><img class="instragram" src="assets/img/icons/ig.png"></a>
            <a href="https://twitter.com/Redalyc" target="_blank"><img class="twitter" src="assets/img/icons/tw.png"></a>
            <a href="https://www.facebook.com/Redalyc/" target="_blank"><img class="facebook" src="assets/img/icons/face.png"></a>

        </div>
    </div>

    <div class="current-section">
        <span><a href="https://www.redalyc.org/" target="_blank">Redalyc</a> > <a>Base de conocimiento en epidemias y COVID-19</a> > currentSection </span>
    </div>
</div>