<app-header></app-header>
<div class="social" id="social">
    <div>
        <div (click)="toSearcher()" id="menu-buscador" class="btn-menu">
            <a ng-href="#contenedor-banner" id="btn-buscador" class="fab" title="Buscador"></a>
        </div>
        <div (click)="toCould()" id="menu-nube" class="btn-menu">
            <a ng-href="#contenedor-nube" id="btn-nube" class="fab" title="Artículos por palabra clave"></a>
        </div>
        <div (click)="toNetwork()" id="menu-red" class="btn-menu">
            <a ng-href="#red-conceptos" id="btn-red" class="fab" title="Representación del conocimiento"></a>
        </div>
        <div (click)="toMap()" id="menu-pais" class="btn-menu">
            <a ng-href="#contenedor-mapa" id="btn-pais" class="fab" title="Artículos por país"></a>
        </div>
        <div (click)="toSparql()" id="menu-documentos" class="btn-menu">
            <a ng-href="#contenedor-ultimos-documentos" id="btn-documentos" class="fab" title="Base del conocimiento"></a>
        </div>
        <div (click)="toAbout()" id="menu-sql" class="btn-menu">
            <a ng-href="#sparql" id="btn-sql" class="fab" title="Acerca de"></a>
        </div>
    </div>
</div>
<div id="btn-top" (click)="toScrollTop()">
    <i class="fa fa-chevron-up"></i>
</div>
<section id="searcher">
    <div id="container">
        <div id="container-searcher">
            <div class="title">Colección de Género</div>
            <div id="text-search"><span>Buscador</span></div>
            <div id="search">
                <input #word (keyup.enter)="searchText(word.value)" id="input-search" type="text" name="input-articulo" value="" placeholder="Buscar" />
                <input id="button-search" type="image" src="assets/img/home/buscador.png" (click)="searchText(word.value)" name="boton-buscar-articulo" alt="Buscar" />
            </div>
        </div>
        <div id="contenedor-numeralias">
            <div class="text-description">
                <p>Más de <span class="number">{{numArticulos}} artículos</span> extraidos de <span class="number">{{numRevistas}} revistas</span> en <span class="number">{{numPaises}} países</span></p>
            </div>
        </div>
        <div id="contenedor-resumen" class="text-description">
            Por un modelo de publicación sin fines de lucro para conservar la naturaleza académica 
            <br>
            y abierta de la comunicación cientifíca.
        </div>
    </div>
    <div id="menu-section">
        <div (click)="toSearcher()" [ngClass]="{'selection': selection == 1}" class="op-menu-section btn-search" id="btn-search">
            <img src="assets/img/home/busqueda.png"><span>Buscador</span>
        </div>
        <div (click)="toCould()" [ngClass]="{'selection': selection == 2}" class="op-menu-section btn-tema" id="btn-articles">
            <img src="assets/img/home/palabra_clave.png"><span>Artículos por palabra clave</span>
        </div>
        <div (click)="toNetwork()" [ngClass]="{'selection': selection == 3}" class="op-menu-section btn-representacion" id="btn-representacion">
            <img src="assets/img/home/red.png"><span>Representación del conocimiento</span>
        </div>
        <div (click)="toMap()" [ngClass]="{'selection': selection == 4}" class="op-menu-section btn-pais" id="btn-pais">
            <img src="assets/img/home/por_pais.png"><span>Artículos por país</span>
        </div>
        <div (click)="toSparql()" [ngClass]="{'selection': selection == 5}" class="op-menu-section btn-sparql" id="btn-sparql">
            <img src="assets/img/home/sparql.png"><span>Base del conocimiento SPARQL</span>
        </div>
        <div (click)="toAbout()" class="op-menu-section btn-recientes" id="btn-recientes">
            <img src="assets/img/home/acerca.png"><span>Acerca de</span>
        </div>
    </div>
</section> 
<section id="could">
    <div></div>
    <div id="container-cloud">
        <div style="font-size: 16pt; font-family: 'Barlow-Regular'; margin-bottom: 30px;">Artículos por palabra clave</div>
        <app-word-cloud></app-word-cloud>
    </div>
</section>
<section id="network">
    <div id="title-network">Representación del conocimiento</div>
    <div>
        <app-network></app-network>
    </div>
</section>
<section id="map">
    <div style="width: 90%; font-size: 16pt; font-family: 'Barlow-Regular'; margin: 30px auto; color: white;">Artículos por país</div>
    <div>
        <app-map></app-map>
    </div>
</section>
<section id="last-numbers">
    <div id="container-title">
        <div class="title-section">Artículos recientes sobre epidemias y COVID-19</div>
        <div id="buttons-carrusell">
            <div (click)="leftScroll()" class="button-carrusell"><img src="assets/img/home/anterior.png" alt=""></div>
            <div (click)="rightScroll()"class="button-carrusell"><img src="assets/img/home/siguiente.png" alt=""></div>
        </div>
    </div>
    <div id="container-last-articles">
        <app-last-articles></app-last-articles>
    </div>
</section>
<section id="sparql">
    <div id="container-content">
        <div id="descripcion-sparql">
            <p id="titulo-sparql">Base de Conocimiento en SPARQL</p>
            <br>
            <p>Punto de acceso SPARQL con los datos disponibles para acceder a los resultados para mayores análisis: <a style="color: #4762b2;" href="http://sparql.amelica.org/knowledgebase/epidemics/datastore">http://sparql.amelica.org/knowledgebase/epidemics/datastore</a></p>
        </div>
        <div id="container-data">
            <div id="container-id">
                <iframe src="http://sparql.amelica.org/knowledgebase/epidemics/datastore" frameborder="0" width="100%" height="100%"></iframe>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>