#searcher{
    width: 100%;
    height: 57vh;
    /* border: solid red 1px; */
}
#last-numbers{
    width: 100%;
    /* height: 50vh;  */
    /* border: solid red 1px;
     */
     padding: 10px 0px;
}
#container{
    background-image: url(../../../assets/img/home/fondo-genero.jpg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    color: white;
    text-align: center;
    /* padding: 20px; */
    height: 86%;
}
#container div{
    width: 100%;
    /* display: flex; */
    margin: 15px 0px;
}
#search {
    width: 100%;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
#input-search{
    width: 50%;
    height: 28px;
    border: none;
    border-radius: 5px;
    margin-left: -10px;
    text-indent: 15px;
    outline: 0 none;
    background-color: #eaeef0;
    border-style: none !important;
}
#button-search{
    position: relative;
    left: -26px;
    height: 15px;
    top: 2px;
}
.title{
    font-size: 16pt;
    font-weight: bold;
    font-family: 'Barlow-Regular';
}
#text-search{
    width: 50%!important;
    text-align: left;
    margin: 0 auto!important;
    font-size: 12pt;
    font-family: 'Barlow-Bold';
}
.number {
    font-weight: bold;
}
.numbers{
    font-family: 'Barlow-Bold';
    font-size: 13pt;
}
#menu-section{
    background-color: #8E5AB7;
    color: white;
    font-size: 10pt;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selection{
    background-color: #573F6A;
}
.op-menu-section{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* border: solid red; */
    height: 50px;
    padding: 0 10px;
    margin: 0 2px;
}
#container-title{
    display: flex;
    width: 70%;
    margin: 20px auto;
    border-bottom:#573f6a solid 2px;
    align-items: center;
}
.title-section{
    width: 80%;
    color: #573f6a;
    font-size: 16pt;
    font-family: 'Barlow-Regular';
    display: flex;
    align-items: center;
}
#buttons-carrusell{
    width: 20%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.button-carrusell{
    margin: 5px;
}
#could{
    background-color: #f2f2f2;
    width: 100%;
    height: 90vh;
    display: flex;
}
#container-cloud{
    width: 80%;
    margin: 30px auto;
    padding: 20px 0px;
}
#network{
    width: 100%;
    /* height: 90vh; */
    /* padding: 30px; */
}
#title-network {
    width: 90%; 
    font-size: 16pt; 
    font-family: 'Barlow-Regular'; 
    margin: 20px auto;
}
#map{
    background-color: #573f6a;
    padding: 30px;
}
#sparql{
    background-color: #f2f2f2;
    width: 100%;
    height: 90vh;
    display: flex;
}
/* #sparql div{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#container-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
}
#container-data{
    width: 70%;
    height: 90%;
    display: flex;
    padding-top: 3em;
    justify-content: center;
}

#descripcion-sparql {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 20px;
}

#titulo-sparql {
    font-size: 16pt;
    font-weight: bold;
    color: #090a35;
}
#container-id{
    width: 80%;
    height: 80%;
    display: flex;
    padding-top: 3em;
}

.fab {
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 24px;
    margin: 10px;
}

.social {
    position: fixed;
    top: 35%;
    left: 1%;
    z-index: 10;
}

.social ul {
    list-style: none;
}

.social li {
    margin: 10px;
}

.social a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    /*padding: 10px 15px;*/
    margin: 10px;
    z-index: 0;
    transition: 0.1s ease;
}

.social a:hover {
    padding: 8px 8px;
}

#menu-buscador {
    background-image: url(../../../assets/img/home/busqueda-b.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-nube {
    background-image: url(../../../assets/img/home/palabra-b.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-pais {
    background-image: url(../../../assets/img/home/pais-b.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-documentos {
    background-image: url(../../../assets/img/home/sparql-b.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-red {
    background-image: url(../../../assets/img/home/red-b.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-sql {
    background-image: url(../../../assets/img/home/acerca-de-b.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#menu-colap {
    display: none;
}

#menu-colap i {
    color: white;
}
.btn-menu {
    margin: 15px;
    cursor: pointer;
}
#btn-top {
    position: fixed;
    width: 30px;
    height: 30px;
    background: #8E5AB7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    bottom: 20px;
    right: 20px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    z-index: 10;
    border-radius: 5px;
    cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .links-home{
        display: none;
    }
    .social{
        display: none;
    }
    .title{
        font-size: 14pt;
    }
    .text-description{
        font-size: 10pt;
    }
    #menu-section{
        display: none;
    }
    #container div{
        width: 90%;
        margin: 15px auto;
    }
    #text-search{
        width: 90%!important;

    }
    #container{
        height: 100%;
    }
    #input-search{
        width: 100%;
        margin-left: 0px;
    }
    #container-title {
        width: 90%;
        margin: 15px auto;
    }
    .button-carrusell img{
        width: 25px;
    }
    .title-section {
        font-size: 15pt;
    }
    #container-cloud {
        width: 90%;
        margin: 20px auto;
        padding: 5px 0px;
    }
    #contenedorArticulos {
        height: 100%!important;
    }
    #network{
        height: 100%;
    }
    #title-network {
        font-size: 15pt;
        margin: 15px auto;
    }

    #container-content {
        width: 90%;
        flex-wrap: wrap;
    }

    #descripcion-sparql {
        width: 100%;
    }
    #container-data {
        width: 100%;
        padding-top: 0em;
    }
    #container-id[_ngcontent-owm-c51] {
        width: 95%;
    }
    #map {
        padding: 15px;
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) and (max-width: 992px) {
    .social{
        display: none;
    }
    #searcher {
        height: 100%;
    }
    .title{
        font-size: 14pt;
    }
    .text-description{
        font-size: 10pt;
    }
    #menu-section{
        display: none;
    }
    #container div{
        width: 90%;
        margin: 15px auto;
    }
    #text-search{
        width: 90%!important;
    }
    #container{
        height: 100%;
    }
    #input-search{
        width: 100%;
        margin-left: 0px;
    }
    #container-title {
        width: 90%;
        margin: 15px auto;
    }
    .button-carrusell img{
        width: 25px;
    }
    .title-section {
        font-size: 15pt;
    }
    #container-cloud {
        width: 90%;
        margin: 20px auto;
        padding: 5px 0px;
    }
    #contenedorArticulos {
        height: 100%!important;
    }
    #network{
        height: 100%;
    }
    #title-network {
        font-size: 15pt;
        margin: 15px auto;
    }

    #container-content {
        width: 90%;
        flex-wrap: wrap;
    }

    #descripcion-sparql {
        width: 100%;
    }
    #container-data {
        width: 100%;
        padding-top: 0em;
    }
    #container-id[_ngcontent-owm-c51] {
        width: 95%;
    }
    #map {
        padding: 15px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #container-articles {
        height: 700px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {

} */