<section id="general">
    <section id="header">
        <app-header [currentSection]="'> Búsqueda País'"></app-header>
    </section>

    <section>
        <app-banner-searches [sectionCountry]=true></app-banner-searches>
    </section>

    <section id="banner" class="flex">
        <div class="flex searcher-title">
            <img src="assets/img/icons/pais-a.png" />
            <p>{{country}}</p>
        </div>

        <div class="searcher">
            <span>Seleccionar el país:</span>
            <select id="list-countries" #predefined (change)="searchArticlesByCountry(predefined.value)" placeholder="Buscar">
                <option *ngFor="let c of listCountries" value="{{c.clave}}" [selected]="c.name == country" #c.name>{{c.name}}</option> 
            </select>
        </div>

    </section>

    <section id="sections">
        <div class="filters">
            <div class="text-filters">
                <img src="assets/img/icons/filtro.png" />
                <span>Filtros de Búsqueda</span>
            </div>
            <app-filters></app-filters>

        </div>

        <div class="content-general">
            <app-target [articles]='articles'></app-target>
        </div>
    </section>

    <section id="footer">
        <app-footer></app-footer>
    </section>
</section>